.home_motion_container{
  height: 100vh;
  position: relative;
}

.home_name_container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  width: fit-content;
  position:absolute;
  top:50%;
  right:50%;
  transform:translate(50%,-50%);
}

.home_h1{
  font-size:4rem;
}

.home_subname{
  display:inherit;
  align-items:center;
}

.subname_h3{
  padding: 0 1rem;
  margin:0;
}


@media screen and (max-width:900px){
    .home_h1{
      font-size:1.5rem;
    }
    .subname_h3{
      font-size:.8rem;
    }
}

